.forms-container{
    background-color: linear-gradient(to bottom, pink, purple);
    height:90vh;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
